/* löscht alle default margin und pdading werte*/
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  background: var(--body);
  font-family: var(--schrift1);
}

/*
 *
 *
 * HEADER
*/

/* nichts im Header soll man selektieren können */
header {
  user-select: none;
  -moz-user-select: none;
}

/* Headerbild, ein wenig zugeschnitten */
.header-image {
  width: 100%;
  height: 300px;
  background: url("../img/headercropped.png") no-repeat 50% 25%;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4vw), 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4vw), 0 100%);
}

/* damit das Bild dunkler ist, schwarzer Balken 70% transparenz */
.header-cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  background: #0000004d;
  /* Headerbild ein wenig abgeschnitten wegen Style -> 4% der Bildweite minus 100% der Bildweite */
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4vw), 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4vw), 0 100%);
}

/* das "M" im Logo (Header) */
.header-text {
  position: absolute;
  top: 0;
  width: 100%;
  font-family: var(--schrift2);
  text-align: center;
  line-height: calc(300px - 2vw); /* Höhe Headerblock - Mittelpunkt vom Clippath */
  font-size: 100px;
  font-weight: bold;
  color: var(--weiss);
}

/* Die geschwungene Klammer im Logo (Header) */
.header-text::after {
  content: "}";
  color: var(--blau);
}
/* der Balken, welcher bei scrollen oben bleibt */
.nav-balken {
  position: absolute;
  height: 70px;
  width: 100%;
  background: var(--body);
  border-bottom: 3px solid var(--navborder);
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
}

/* wenn gescrollt wurde, wird der Balken fixed */
.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

/* ein div für die drei striche vom hamburgermenu */
#menu {
  cursor: pointer;
  display: block;
  position: absolute;
  left: 28px;
  top: 16px;
  z-index: 9999;
  transition-duration: 0.5s;
}

/* 360Grad drehanimation beim wechseln vom Ham-Menu zum X */
#menu.menudrehen {
  transform: rotate(180deg);
}

/* die drei striche vom hamburgermenu */
div#linie1,
div#linie2,
div#linie3 {
  width: 35px;
  height: 5px;
  background-color: var(--icon);
  border-radius: 4px;
  margin: 6px 0;
  transition-duration: 0.6s;
}

/* die transformation vom obersten strich */
#linie1.gedreht1 {
  transform: matrix(0.85, -0.8, 0.7, 0.7, 0, 11);
  background-color: var(--closeicon);
}

/* der zweite strich soll verschwinden */
#linie2.gedreht2 {
  opacity: 0;
}

/* die transformation vom dritten strich */
#linie3.gedreht3 {
  transform: matrix(0.85, 0.8, -0.7, 0.7, 0, -11);
  background-color: var(--closeicon);
}

/* wenn hover über menu, alle drei striche sollen rot gefärbt werden */
#menu:hover > #linie1,
#menu:hover > #linie2,
#menu:hover > #linie3 {
  background-color: var(--hoverfarbe);
}

/* hinzugefügt, wenn etwas ausgeblendet werden soll */
.unsichtbar {
  display: none;
}

/* das Navigationsmenu (normalerweise links versteckt) */
#nav-menu-nav {
  position: absolute;
  top: 70px;
  left: -100%;
  width: 250px;
  height: 100vh;
  padding: 0 30px;
  background: var(--body);
  border-right: 2px solid var(--blau);
  transition: 0.5s;
  z-index: 9999;
}

/* das Navigationsmenu, wenn es sichtbar sein sollte */
#nav-menu-nav.nav-rein {
  left: 0;
}

/* Abtrennug zwischen Navigation & Dropdown */
#nav-menu-nav > ul {
  border-bottom: 1px solid var(--navcolor);
}

/* Positionierung vom Navigations Text */
#nav-menu-nav ul li {
  padding: 15px;
  list-style: none;
  text-align: center;
}

/* Styling vom Navigations Text */
#nav-menu-nav a {
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
  color: var(--navcolor);
  position: relative;
}

/* Hovereffekt vom Navigations Text */
#nav-menu-nav a:hover {
  color: var(--hoverfarbe);
}
#nav-menu-nav a::before {
  content: "{";
  color: #000000;
  font-weight: bold;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: 0.3s;
  transform: translate(-5px);
}
#nav-menu-nav a:hover::before {
  transform: translateX(-20px);
  opacity: 1;
  z-index: 20;
}
#nav-menu-nav a::after {
  content: "}";
  color: #000000;
  font-weight: bold;
  position: absolute;
  right: 0;
  opacity: 0;
  transition: 0.3s;
  transform: translate(5px);
}
#nav-menu-nav a:hover::after {
  transform: translateX(20px);
  opacity: 1;
  z-index: 20;
}
/* Der Pfeil vom DropdownMenu */
#dropdownicon {
  position: relative;
  top: -2px;
  left: 4px;
  border: solid var(--navcolor);
  border-width: 0 0 3px 3px;
  display: inline-block;
  padding: 2.5px;
  transition: 0.3s;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Hovereffekt über NavText oder DropdownMenu */
#nav-menu-nav a:hover > #dropdownicon{
  border: solid var(--hoverfarbe);
  border-width: 0 0 3px 3px;
}

/* dropdown aktiviert, soll das icon sich drehen */
#dropdownicon.drehen {
  transform: rotate(-135deg);
  top: -2px;
}

/* DropdownMenu soll default links versteckt sein */
#nav-dropdown {
  position: relative;
  left: -100%;
  transition: 0.4s;
}

/* das DropdownMenu, wenn es sichtbar sein sollte */
#nav-dropdown.dropdown-rein {
  left: 0;
}

/* Container über die gesamte Seite (dass man die Navigation ausserhalb wegklicken kann) */
#leerecontainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
}

/*
 *
 *
 * MAIN CONTENT
*/

main {
  width: 90%;
  margin: 0 auto;
  margin-top: 70px;
}

h2 {
  margin-top: 100px;
  text-align: center;
}

article {
  width: 100%;
  border-bottom: 3px solid var(--body);
  position: relative;
}

/*
 *     /index.html
*/
/* Alle Überschriften auf der Startseite */
#art-uebermich-1 h3,
#art-uebermich-2 h3,
#art-uebermich-3 h3,
#art-uebermich-4 h3 {
  margin: 60px auto 10px auto;
  border-top: 2px solid var(--blau);
}

/* der Willkommenstext */
p.intro {
  width: 83%;
  margin: 0 auto;
  text-align: justify;
  color: var(--dunkelblau);
}

/* Link zum Lebenslauf im Willkommenstext */
p.intro a {
  color: var(--schwarz);
  text-decoration: none;
  position: relative;
}

/* Hoverbalken unter dem Linktext */
p.intro a:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0%;
  width: 100%;
  height: 2px;
  background: var(--hoverfarbe);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s;
}

/* Breite vom Hoverbalken skaliert sich um 100% nach rechts */
p.intro a:hover:before {
  transform: scaleX(1);
  transition: transform 0.4s;
}

/* Die beiden Bilder von mir sollten einen kleinen Abstand oben/unten haben */
.bild-uebermich {
  margin: 10px 0;
}

/* Link zu Github bei "Meine Interessen" */
.githlink {
  color: var(--hoverfarbe);
  text-decoration: none;
  position: relative;
}

/* Hoverbalken unter dem Linktext */
.githlink:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0%;
  width: 100%;
  height: 2px;
  background: var(--schwarz);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s;
}

/* Breite vom Hoverbalken skaliert sich um 100% nach rechts */
.githlink:hover:before {
  transform: scaleX(1);
  transition: transform 0.4s;
}

/* Breite von jedem Bild von myskills */
#art-uebermich-4 img {
  width: 8%;
}

/* simpler hovereffekt der bilder */
#art-uebermich-4 img:hover {
  cursor: help;
}

/* Bildbeschreibung defaultmässig versteckt hinter dem Bild */
.skill1-text, .skill2-text,
.skill3-text, .skill4-text,
.skill5-text, .skill6-text,
.skill7-text, .skill8-text,
.skill9-text {
  position: relative;
  top: -30px;
  display: inline-block;
  width: 8%;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  opacity: 0;
  transition: 0.3s;
  z-index: -3;
}

/* Bildbeschreibung erscheint beim hovern */
.skill1-bild:hover ~ .skill1-text,
.skill2-bild:hover ~ .skill2-text,
.skill3-bild:hover ~ .skill3-text,
.skill4-bild:hover ~ .skill4-text,
.skill5-bild:hover ~ .skill5-text,
.skill6-bild:hover ~ .skill6-text,
.skill7-bild:hover ~ .skill7-text,
.skill8-bild:hover ~ .skill8-text,
.skill9-bild:hover ~ .skill9-text {
  top: -10px;
  opacity: 1;
}

/* Anpassung der Breiten für Mobileuser */
@media only screen and (max-width: 800px) {
  #art-uebermich-4 img {
    width: 10%;
  }
  .skill1-text, .skill2-text,
  .skill3-text, .skill4-text,
  .skill5-text, .skill6-text,
  .skill7-text, .skill8-text,
  .skill9-text {
    width: 10%;
    font-size: 10px;
  }
}

/*
 *     /lebenslauf.html
*/
/* Alle Abschnitte im Lebenslauf mit den Bildern */
#art-lebenslauf-1 {
  background: url("../img/lebenslauf-1.png") no-repeat 50% 50%;
  background-size: cover;
  height: 300px;
}
#art-lebenslauf-2 {
  background: url("../img/lebenslauf-2.png") no-repeat 50% 50%;
  background-size: cover;
  height: 300px;
}
#art-lebenslauf-3 {
  background: url("../img/lebenslauf-3.png") no-repeat 50% 50%;
  background-size: cover;
  height: 300px;
}
#art-lebenslauf-4 {
  background: url("../img/lebenslauf-4.png") no-repeat 10% 15%;
  background-size: cover;
  height: 300px;
}
#art-lebenslauf-5 {
  background: url("../img/lebenslauf-5.png") no-repeat 50% 60%;
  background-size: cover;
  height: 300px;
}
#art-lebenslauf-6 {
  background: url("../img/lebenslauf-6.png") no-repeat 50% 50%;
  background-size: cover;
  height: 300px;
}

/* Vertikal und Horizontal zentrierter Text über den Bildern. */
article#art-lebenslauf-1 p,
article#art-lebenslauf-2 p,
article#art-lebenslauf-3 p,
article#art-lebenslauf-4 p,
article#art-lebenslauf-5 p,
article#art-lebenslauf-6 p {
  width: 100%;
  color: var(--weiss);
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
 *     /projekte.html
*/
/* dunkler Hintergrund */
div.prjktcontainer {
  height: 100%;
  width: 100%;
  background: var(--dunkelgrau);
}

/* Vertikal und Horizontal zentrierter Text */
div.prjktinhalt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* die Links auf dieser Seite */
div.prjktinhalt a {
  margin: 10px 0;
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--blau);
  font-weight: bold;
  font-size: 18px;
  transition-duration: 0.3s;
}

/* Hovereffekt über dem Link */
div.prjktinhalt a:hover {
  color: var(--weiss);
}

/*
 *
 *
 * FOOTER CONTENT
*/
/* Farbverlauf über dem Footer, damit es nicht so abgeschnitten aussieht */
.prefooter {
  margin-top: 75px;
  width: 100%;
  height: 5px;
  background-image: linear-gradient(var(--body), var(--grau));
}

/* der Footer an sich.. (pos:relative damit absolute bezüge ich hier drauf beziehen) */
footer {
  position: relative;
  height: 170px;
  padding: 30px 5% 0 5%;
  background: var(--grau);
  color: var(--hellstesgrau);
}

/* Abstand unter der Überschrift "Kontakt" */
footer h3 {
  margin: 0 0 10px 0;
  font-style: italic;
}

/* Link zu meinem E-Mail */
footer a {
  color: var(--hellblau);
  text-decoration: none;
  position: relative;
}

/* Hoverbalken unter dem Linktext */
footer a:before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0%;
  width: 100%;
  height: 2px;
  background: var(--hellgrau);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s;
}

/* Breite vom Hoverbalken skaliert sich um 100% nach rechts */
footer a:hover:before {
  transform: scaleX(1);
  transition: transform 0.4s;
}

/* Mein Logo rechts mittig im Footer */
.footerlogo {
  position: absolute;
  right: 40px;
  top: 50px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

/* Grössenanpassung des Logos für Mobileuser */
@media only screen and (max-width: 500px) {
  .footerlogo {
    right: 20px;
    top: 75px;
    width: 50px;
    height: 50px;
  }
}
