@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

:root {
  --schrift1: "Ubuntu";
  --schrift2: "Inconsolata", serif;

  --weiss:        #ffffff;
  --hellstesgrau: #f4f4f4;
  --hellgrau:     #dbdbdb;
  --mittelgrau:   #a3a3a3;
  --grau:         #5a5a5a;
  --dunkelgrau:   #474747;
  --dunklergrau:  #333333;
  --dunklestgrau: #202020;
  --schwarz:      #000000;
  --rot:          #cc2020;
  --hellblau:     #47c2ff;
  --blau:         #1b8ac1;
  --dunkelblau:   #00568c;

  --body:         var(--hellstesgrau);
  --navborder:    var(--hellgrau);
  --navcolor:     var(--dunklestgrau);
  --icon:         var(--dunkelgrau);
  --closeicon:    var(--rot);
  --hoverfarbe:   var(--blau);
}

/* wenn etwas selektiert wird */
::selection {
  color: #47c2ff;
  background: white;
}
/* same für firefox */
::-moz-selection {
  color: #47c2ff;
  background: white;
}
